@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap'); 
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);

    --grayish-Blue: hsl(217, 19%, 38%);
    --dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

body{
    font-family: 'Manrope', sans-serif;
    font-size: 1.75rem;
    font-weight: 800;
    background-color: var(--Dark-Blue);
    color: var(--light-cyan);
}
main{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
}
.card{
    position: relative;
    max-width: 33.75rem;
    background-color: var(--dark-Grayish-Blue);
    border-radius: 1rem;
    padding: 3.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title{
    font-size: 1rem;
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}
img,
picture{
    display: block;
    margin-inline: auto;
    max-width: 100%;
}
picture{
    margin-bottom: 1rem;
}
.loading{
    scale: .6;
    margin: -4.5rem 0;
}
.btn{
    position: absolute;
    bottom: -2rem;
    left: calc(50% - 2rem);
    background-color: var(--neon-green);
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn.disabled::after{
    position: absolute;
    content: '';
    inset: 1rem;
    font-size: .8rem;
    background-color: var(--Dark-Blue);
    color: var(--neon-green);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 0 2.25rem var(--neon-green);
}
.btn.disabled:hover, .btn:disabled:hover{
    cursor: not-allowed !important; 
    box-shadow: 0 0 2.25rem var(--Dark-Blue);
}

/* attribution */
.attribution{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    font-size: .7rem;
    z-index: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: .25rem;
    outline-offset: 4px;
    transition: all .2s ease-in-out;

}
.box{
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-color: var(--neon-green);
    border-radius: .25rem;
    border: 1px solid var(--Dark-Blue);
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.attribution:hover{
    box-shadow: 0 0 1rem var(--neon-green);
}
.box::after,
.box::before{
    content: '';
    position: absolute;
    display: block;
    background-color: var(--Dark-Blue);
    z-index: 2;
    transition: rotate .2s ease-in-out;
}
.box::before{
    right: 4px;
    width: 20px;
    height: 4px;
}
.box::after{
    right: 12px;
    width: 4px;
    height: 20px;
}
.attribution.active{
    width: 16rem;
    padding-left: .5rem;
    outline: 2px solid var(--neon-green);
    color: var(--light-cyan);
}
.attribution.active .box::after,
.attribution.active .box::before{
    rotate: 45deg;
}
.attribution a{
    color: var(--neon-green);
    text-decoration: none;
}
.attribution a:hover{
    text-decoration: underline;
}